beautifulsoup4
bidict
certifi
charset-normalizer
click
colorama
comtypes
decorator
future
geocoder
idna
# jsonlib-python3
loc
MouseInfo
Pillow
psutil
PyAudio
PyAutoGUI
PyGetWindow
pyjokes
PyMsgBox
pyperclip
pypiwin32
PyRect
PyScreeze
pyttsx3
pytube
pytweening
pywin32
ratelim
requests
six
soupsieve
SpeechRecognition
urllib3
wikipedia
